---
import BlurFade from "./ui/blur-fade";
interface Props {
  summary: any;
  fade_delay: number;
}
const { summary, fade_delay } = Astro.props;
---

<section id="about">
  <BlurFade client:visible delay={fade_delay * 3}>
    <h2 class="text-xl font-bold">About</h2>
  </BlurFade>
  <BlurFade client:visible delay={fade_delay * 4}>
    <p
      class="prose max-w-full text-pretty font-sans text-sm text-muted-foreground dark:prose-invert"
    >
      {summary}
    </p>
  </BlurFade>
</section>
