---
import BlurFade from "@ui/blur-fade";

import CertCard from "@/components/CertCard";
interface Props {
  fade_delay: number;
  certifications: any;
}
const { fade_delay, certifications } = Astro.props;
---

<section id="certifications">
  <BlurFade client:visible delay={fade_delay * 10}>
    <h2 class="text-xl font-bold">Certifications</h2>
  </BlurFade>
  <br />
  <BlurFade client:visible delay={fade_delay * 11}>
    <CertCard client:visible certs={certifications} />
    <!-- <div class="gap-2 grid grid-cols-2 items-center">
      {certifications.map((cert, index) => <CertCard client:visible />)}
    </div> -->
  </BlurFade>
</section>
