---
import BlurFade from "./ui/blur-fade";
import { getEntry, render } from "astro:content";
interface Props {
  fade_delay: number;
}
const { fade_delay } = Astro.props;
const bio = await getEntry("bio", "main");
const { Content } = await render(bio);
---

<section id="about">
  <BlurFade client:load delay={fade_delay * 3}>
    <h2 class="text-xl font-bold">About</h2>
  </BlurFade>
  <BlurFade client:load delay={fade_delay * 4}>
    <section id="bio" class="max-w-full text-pretty">
      <Content />
    </section>
  </BlurFade>
</section>
