---
import BlurFade from "@ui/blur-fade";
import Experience from "@/components/ExperienceItem";
interface Props {
  fade_delay: number;
  workExperience: any;
}
const { fade_delay, workExperience } = Astro.props;
---

<section id="work-experience">
  <BlurFade client:visible delay={fade_delay * 5}>
    <h2 class="text-xl font-bold">Work Experience</h2>
  </BlurFade>
  <br />
  <BlurFade client:visible delay={fade_delay * 6}>
    <Experience client:load workExperience={workExperience} />
  </BlurFade>
</section>
