---

---

<html lang="en" class={"dark:bg-zinc-900 bg-zinc-100"}>
  <body
    class={"min-h-screen dark:bg-zinc-950 dark:text-zinc-100 bg-zinc-200 text-zinc-900 antialiased max-w-2xl mx-auto py-12 sm:py-24 px-6"}
  >
    <slot />
  </body>
</html>
